.page-container {
    display: flex;
    width: 100%;
    
}

.page-title {
    display: flex;
    align-items: center; /* Alinha verticalmente os elementos */
    justify-content: left; /* Alinha horizontalmente os elementos */
    margin-bottom: 10px;
  }

.searchbar{
    background-color: #ffffff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.details {
  display: flex;
  justify-content: space-between; /* Coloca os itens em extremidades opostas */
  margin-top: 25px;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #000000;
}

.details span{
    font-size: 23px;

}
  
.total-value {
  font-size: 23px;
  font-weight: bold;
}

.payment-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.payment-buttons .ant-btn {
  width: 32%;
  height: 40px;
  font-size: 20px;
}

.selected {
  background-color: #1890ff !important;
  border-color: #1890ff !important;
}

.concluir-compra {
  width: 100%;
  padding: 20px;
  font-size: 20px;
  background-color: #10970b !important;

}

  .page-title h2 {
    margin: 0; /* Remove margens do h1 para evitar espaço extra */
    font-family: "Open Sans", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px; /* Define o tamanho da fonte para o h1 (ajuste conforme necessário) */
  }
  
  .page-title {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .page-title h2 {
    margin-left: 10px;
  }

  .order-list{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
    padding: 10px;
    border-radius: 10px;
  }


.left-page {
    width: 55%;
    display: flex;
    flex-direction: column;
    margin-right: 40px;
}

.right-page {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Garante que os containers fiquem no topo */
  gap: 30px; /* Define o gap entre os containers */
}

.product-container {
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
  background-color: #ffffff; /* Apenas para visualização */
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Garante que o conteúdo não fique centralizado */
}

.product-container img {
  align-self: center; /* Apenas a imagem ficará centralizada */
  width: 260px; /* Ajusta a imagem para não ultrapassar a largura do container */
margin-bottom: 10px;
border-radius: 10px;
}

.total-container {
  width: 100%;
  height: auto; /* A altura do total-container permanece fixa */
  background-color: #ffffff; /* Apenas para visualização */
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
  border-radius: 5px;
}

.product-details {
  margin-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 9px; /* Espaço entre os detalhes */
}

.detail-item {
  display: flex;
  align-items: center; /* Alinha o ícone e o texto verticalmente */
  justify-content: center;
}

.detail-text {
  font-size: 18px; /* Aumenta o tamanho do texto */

}

.empty-text{
  font-size: 20px;
  font-weight: 600;
  
}

.caixa-button-container {
  display: flex;
  padding: 20px 0;
  border-bottom: 2px solid #f0f0f0;
}

.caixa-button {
  width:100%;;
  height: 40px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.caixa-button:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

.modal-caixa .ant-modal-header {
  border-bottom: 2px solid #f0f0f0;
}

.modal-caixa .ant-modal-title {
  font-size: 20px;
  font-weight: 600;
}

.modal-content {
  padding: 20px 0;
}

.modal-content p {
  margin-bottom: 20px;
  font-size: 16px;
}

/* Estilo para o botão quando o caixa está aberto */
.ant-btn-danger.caixa-button {
  background-color: #ff4d4f;
  border-color: #ff4d4f;
}

.ant-btn-danger.caixa-button:hover {
  background-color: #ff7875;
  border-color: #ff7875;
}

/* Estilo para o botão quando o caixa está fechado */
.ant-btn-primary.caixa-button {
  background-color: #0088c7;
  border-color: #013f72;
}

.ant-btn-primary.caixa-button:hover {
  background-color: #73d13d;
  border-color: #73d13d;
}